uploads/*
.cursor/skills
bin/aiclaw
aiclaw.db
docs/swagger.yaml
server
.gitignore
server.exe
/main
CHANGELOG.md
.DS_Store
/desktop/desktop
/desktop/frontend/wailsjs/go/
/web/
/desktop/frontend/node_modules/
/desktop/frontend/dist/assets/
/desktop/frontend/dist/index.html
/desktop/build/bin/
